
.col-lg-10.center-block
  %h1.text-info.title-shadow Candidatos
  %br
  = form_for_filterrific @filterrific do |f|
    .alert.alert-info.col-lg-12
      .col-lg-12
        %label.search-label
          Buscar
        = f.text_field :search_query, :class => 'filterrific-periodically-observed form-control'
  = render( partial: 'profiles/list', locals: { profiles: @profiles } )
