:css
  body {
    background-image: url('/assets/Executives.jpg');
    background-repeat:no-repeat;
    background-size: cover;

.col-lg-6.center-block.login-title
  %h1.text-white Comparte tu talento
  %h3.text-secondary
    %i Encuentra oportunidades
.col-lg-4.center-block.login-container
  = simple_form_for :sessions, :url => "sessions" do |f|
    = f.input :email, label: 'Correo Electr칩nico', placeholder: 'tu@dominio.com'
    = f.input :password, label: 'Contrase침a', placeholder: 'Contrase침a...'
    = f.button :submit, "Iniciar Sesi칩n", class: 'btn-warning btn-block btn-lg'
