// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.avatar-container {
  text-align: center;
}

.avatar-container img {
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.15);
}

.avatar-container h3 {
  text-shadow: 1px 2px 0 #e8e8e8;
}

.profile-intro {
  padding-top: 30px;
  font-size: 16px;
  font-weight: lighter;
}

.profile-info {
  margin-top: 30px;
  font-size: 15px;
  color: #696969;
}


//#profile-header {
//  border-top: solid 4px #127ba3;
//}
//
//#skills-container {
//
//  border-top: solid 4px #bababa;
//}
//
//#experiences-container {
//  border-top: solid 4px #23a127;
//}
//
//#studies-container {
//  border-top: solid 4px #ff291c;
//}

.profile-container fieldset {
  margin-top: 30px;
}

.profile-container {
  background-color: #fff;
  padding: 20px 30px 30px 30px;
  margin: 20px 0px 20px 0px;
  display: block;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.12);
  border: 2px solid #bebebe;
  border-top: 4px solid #127ba3;
}

.profile-form-container {
  background-color: #fff;
  padding: 0px;
  margin: 20px 0px 20px 0px;
  display: block;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.12);
  border: 2px solid #bebebe;
  border-top: 4px solid #127ba3;
}
