// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #75caeb;
  background: -moz-radial-gradient(top, ellipse cover,  #d0d0d0 30%, #75caeb 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, top center, 0px, center center, 100%, color-stop(30%,#d0d0d0), color-stop(100%,#75caeb)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(top, ellipse cover,  #d0d0d0 30%,#75caeb 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(top, ellipse cover,  #d0d0d0 30%,#75caeb 100%); /* Opera 12+ */
  background: -ms-radial-gradient(top, elllipse cover,  #d0d0d0 30%,#75caeb 100%); /* IE10+ */
  background: radial-gradient(ellipse at top,  #d0d0d0 30%,#75caeb 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#75caeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.login-container {
  margin-top: 30px;
  margin-bottom: 60px;
  background-color: #fff;
  display: block;
  padding: 40px 30px 40px 30px;
  border: 1px solid #969696;
  border-top: 6px solid #40b5e3;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.12);
}

.register-link {
  text-align: center;
  margin-top: 20px;
  color: #75caeb;
  font-size: 16px;
}

.register-link a {
  color: #ff851b;
  font-weight: bold;
  text-decoration: none;
}

.vacant-container {
  background-color: #fff;
  display: block;
  padding: 20px 30px 20px 30px;
  border: 1px solid #969696;
  border-radius: 3px;
  box-shadow: 0 0 2px 1px rgba(0,0,0,.12);
}

a .vacant-container {
  color: #6c6a6a;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


#last_vacants {
  margin-top: 30px;
}
